<div class="annotation-container">
  <div class="canvas-container">
    <canvas #imageCanvas width="800" height="600"></canvas>
  </div>
  <p class="text-muted">
    Please press
    <kbd class="key">Shift</kbd> +
    <kbd class="key">Right Click</kbd> + to delete an annotation.
  </p>
  <p class="text-muted">
    Please press
    <kbd class="key">Esc</kbd> + to stop annotation mode.
  </p>
  <div class="legend-container">
    <span class="legend-item"><img height="24" width="24" src="/assets/icons/small-scratch-icon.svg" alt="">Small Scratch</span>
    <span class="legend-item"><img height="24" width="24" src="/assets/icons/big-scratch-icon.svg" alt="">Big Scratch</span>
    <span class="legend-item"><img height="24" width="24" src="/assets/icons/accident-icon.svg" alt="">Accident</span>
  </div>
  <div class="toolbar">
    <button (click)="selectIcon('assets/icons/small-scratch-icon.svg')">Small Scratch</button>
    <button (click)="selectIcon('assets/icons/big-scratch-icon.svg')">Big Scratch</button>
    <button (click)="selectIcon('assets/icons/accident-icon.svg')">Accident</button>
    <button (click)="increaseIconSize()">Increase Size</button>
    <button (click)="decreaseIconSize()">Decrease Size</button>
    <input type="number" [value]="iconSize" (change)="setIconSize($event)" min="10" step="1" style="width: 60px;">
    <span>Current Size: {{ iconSize }}px</span>
    <button (click)="downloadImage()">Download Image</button>
  </div>
</div>
